@charset "UTF-8";

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosanskr/v36/PbykFmXiEBPT4ITbgNA5Cgm20xz64px_1hVWr0wuPNGmlQNMEfD4.0.woff2) format('woff2');
}

/* font-family: "Unica77LLWeb", "SDGothicNeo", sans-serif; */

/* 변수 만들기(css에서 변수만들 때 이름앞에 --를 붙인다)
 변수를 사용하면 내용을 한꺼번에 바꿀 수 있기 때문에 좋다!
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  overflow: hidden;
  font-family: 'Noto Sans KR';
  background-color: #171717;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  font-family: "SDGothicNeo";
}


li {
  list-style: none;
}


#wrap {
  margin: 0 auto;
  position: relative;
  width: 100%;
}

#best_optical {
  position: relative;
  background-size: cover;
  padding: 5vw;
}

.poont {
  position: relative;
}

#best_optical .lgimg {
  position: absolute;
  width: 16vw;
  bottom: 20vw;
  left: 20vw;
  animation: skins 3s infinite;
}

@keyframes skins {
  0% {
    transform: translateY(0);
    /* 처음 위치 */
  }

  50% {
    transform: translateY(-10px);
    /* 위로 10px 이동 */
  }

  100% {
    transform: translateY(0);
    /* 원래 위치로 돌아옴 */
  }
}


#best_optical .optical_best {
  display: flex;
}

/*--------- rank ----------*/

#best_optical .rank {
  width: 30%;
  font-family: "GentleMonster", sans-serif;
  margin: 0 2vw;
}

#best_optical .rank h3 {
  font-size: 2.5vw;
  line-height: 3.2vw;
  color: #fff;
}

#best_optical .m_rank_h3 {
  display: none;
}

#best_optical .rank ul {
  margin: 2vw 2vw 0vw 0vw;
}

#best_optical .rank ul li {
  border-bottom: 1px solid #ccc;
}

#best_optical .rank ul li:last-child {
  border: none;
}

#best_optical .rank ul li.active a span:nth-child(2) {
  color: #666;
}

#best_optical .rank ul li>a {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 3vw 0vw;
  box-sizing: border-box;
  font-size: 1vw;
  height: 2.3vw;
}


#best_optical .rank ul li a span {
  box-sizing: border-box;
  letter-spacing: -0.1vw;
}

/* 숫자 */
#best_optical .rank ul li a span:nth-child(1) {
  width: 5%;
  color: #fff;
}

/* 상품명 */
#best_optical .rank ul li a span:nth-child(2) {
  width: 70%;
  font-family: "Unica77LLWeb", "SDGothicNeo", sans-serif;
  color: #fff;
}

/* 더보기 */
#best_optical .rank ul li a span:nth-child(3) {
  width: 20%;
  text-align: right;
  color: #fff;
  font-size: 0.8vw;
  font-family: "Unica77LLWeb", "SDGothicNeo", sans-serif;
  transition: 0.2s;
}

#best_optical .rank ul li:hover a span:nth-child(3) {}

#best_optical .rank ul li .rank_item {
  display: flex;
}

#best_optical .rank ul li .rank_item a {
  position: relative;
  display: block;
  width: 100%;
  margin: auto;
  height: 20vh;
}

#best_optical .rank ul li .rank_item a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  opacity: 0;
  transition: 0.3s;
}

#best_optical .rank ul li .rank_item a:hover::before {
  opacity: 1;
}


#best_optical .rank ul li .rank_item a::after {
  content: '\f002';
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  font-size: 1vw;
  position: absolute;
  right: 4%;
  bottom: 4%;
  transform: translate(-50%, -50%);
  background-size: cover;
  color: #fff;
  transform: scale(0);
  transition: 0.3s;
}

#best_optical .rank ul li .rank_item a:hover::after {
  transform: scale(1);
}

#best_optical .rank ul li .rank_item a img {
  display: block;
  width: 100%;
  height: 100%;
}

/*--------- item ----------*/

#best_optical .item {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  right: 2.1vw;
}

#best_optical .item .cell {
  width: calc(100% /4);
  display: flex;
  flex-direction: column;
  margin-left: 0.5vw;
}

#best_optical .item .cell .box {
  height: auto;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
  background-color: #f4efef;
  padding: 10px;
  margin-bottom: 2vw;
  margin-right: 1vw;
}


#best_optical .item .cell .box a {
  display: block;
  width: 100%;
  height: 100%;
}

#best_opticaln .item .cell .box:hover {
  box-shadow: 4px 5px 11px 0px rgb(0 0 0 / 50%);
}

#best_optical .item .cell .box:nth-child(2):hover {
  box-shadow: none;
}

#best_optical .item .cell .box:nth-child(2) {
  margin-top: 0.5vw;
}

#best_optical .item .cell .w_desc {}

#best_optical .item .cell img {
  display: block;
  width: 100%;
  height: 300px;
  transform: scale(1);
  transition: 0.3s;
  opacity: 0.96;
}

#best_optical .item .cell .box a:hover img {
  transform: scale(1.2);
}

#best_optical .item .cell .box a:hover .item_info {
  height: 23%;
  opacity: 1;
}

#best_optical .item .cell .item_info {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0%;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  color: #fff;
  transition: 0.3s;
  opacity: 0;
}

#best_optical .item .cell .box a:hover .item_info h3 {
  transform: translateY(0%);
  transition: 0.2s 0.3s ease-in-out;
  opacity: 1;
}

#best_optical .item .cell .item_info h3 {
  padding: 0.5vw 0vw 0.3vw 0.8vw;
  transform: translateY(20%);
  opacity: 0;
  font-size: 0.8vw;
}

#best_optical .item .cell .item_info ul {
  padding-left: 0.8vw;
}

#best_optical .item .cell .item_info ul li {
  font-size: 0.7vw;
}

#best_optical .item .cell .item_info ul li:nth-child(1) {
  position: relative;
  transition: 0.2s ease-in-out;
  color: #bbb;
}


#best_optical .item .cell .box a:hover ul li:nth-child(1)::before {
  width: 37%;
  opacity: 1;
}

/* issue */

#issue {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  padding: 10vw 6vw 0vw;
  overflow-x: hidden;
  font-family: "GentleMonster", sans-serif;
}

#issue .text_area {
  position: absolute;
  left: 3vw;
  top: 5vw;
  font-size: 1vw;
  font-weight: bold;
  color: #fff;
}

#issue .pano_wrap {
  font-size: 0;
  /*inline 요소의 예상치못한 공간을 없애주기위해*/
  white-space: nowrap;
}

#issue .pano_wrap .list {
  display: inline-block;
  /*복사해서 옆에 한번 더 붙이기 위해*/
  white-space: nowrap;
}

#issue .pano_wrap .list li {
  display: inline-block;
  white-space: nowrap;
  width: auto;
  overflow: hidden;
  /*이미지겹치게!*/
}

#issue .pano_wrap .list li figure {}

#issue .pano_wrap .list li figure img {
  width: 200px;
  height: 100%;
}

#issue .controls {
  position: absolute;
  right: 2vw;
  top: 6.3vw;
  transform: scale(1);
  transition: 0.3s;
}

#issue .controls:hover {
  transform: scale(1.1);
}

#issue .controls a {
  font-size: 2vw;
}

#issue .controls a i {
  position: absolute;
  right: 0;
  top: -0.5vw;
  color: #000;
}

#issue .controls a i em {
  text-indent: -9999em;
  font-size: 0;
  line-height: 0;
  /*글자 안보이게 처리*/
}

#issue .controls a.active .play {
  visibility: hidden;
  opacity: 0;
}

#issue .controls a .play {
  visibility: visible;
  opacity: 1;
}

#issue .controls a.active .pause {
  visibility: visible;
  opacity: 1;
}

#issue .controls a .pause {
  visibility: hidden;
  opacity: 0;
}

/* footer */

.foot_wrap {
  display: flex;
  justify-content: space-between;
  padding: 4vw 2vw 4vw 4vw;
  color: #666;
  font-size: 0.7vw;
  border-top: 1px solid #e3e3e3;
}

.foot_left {
  display: flex;
  width: 50%;
}

.foot_left ul {
  margin-right: 10%;
}

.foot_left ul:nth-child(4) {
  margin-right: 0;
}

.foot_left ul li {
  line-height: 1.2vw;
  transition: 0.3s;
}

.foot_left ul li:nth-child(1) {
  padding-bottom: 1vw;
}

.foot_left ul li strong {
  display: block;
}

.foot_left ul li a {
  display: block;
  color: #666;
  transition: 0.3s;
}

.foot_left ul li a:hover {
  color: #E681DE;
}

.foot_right {
  width: 43%;
}

.foot_right p {
  margin-top: 1.3vw;
}

/* 위로가기 버튼 */

.to_top {
  position: fixed;
  bottom: 15px;
  right: 20px;
  background: rgba(0, 0, 0, 0.9);
  padding: 5px 10px;
  font-size: 1.4rem;
  /*rem의 기준은 (body,html) 기본값 1rem = 16px*/
  z-index: 100;
}

.to_top i {
  color: #fff;
}

/* 슬라이드 */
button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.slider-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 40rem;
  margin: 1rem;
  border: 1px white solid;
  padding: 1rem;
  background-color: black;
}

.title-of-slider {
  font-weight: 300;
  letter-spacing: 0.5rem;
  width: max-content;
  align-self: flex-start;
  color: hsl(0, 0%, 95%);
  font-size: clamp(1rem, 4.5vw, 2rem);
  display: flex;
  flex-direction: column;
}

.title-of-slider>span {
  font-weight: 700;
}

#image-container {
  display: flex;
  gap: 0.5rem;
  /* background-color: red; */
  width: 100%;
  padding: 0.5rem 0;
  overflow: hidden;
}

.model-images {
  flex: none;
  width: 30%;
  translate: calc(-100% - 0.5rem);
}

.button-container {
  display: grid;
  grid-template-columns: 2.5rem 2.5rem auto 2.5rem 2.5rem;
  column-gap: 0.1rem;
  width: 100%;
  gap: 0.5rem;
}

.button-container>button {
  position: relative;
  border: 0.1rem hsl(0, 0%, 95%) solid;
  border-radius: 50%;
  width: 2.5rem;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

#left-arrow {
  grid-column: 1;
  grid-row: 1;
}

#right-arrow {
  grid-column: 2;
  grid-row: 1;
}

#right-arrow:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

#left-arrow:before {
  position: absolute;
  content: "";
  width: 100%;

  height: 100%;
  border-radius: 50%;
}

.button-container button>svg {
  width: 25%;
  height: auto;
}

#right-arrow svg {
  transform: rotate(180deg);
}

#progress-bar-container {
  position: relative;
  grid-column: 3 / 6;
  align-self: center;
  width: 90%;
  height: 0.2rem;
  justify-self: center;
  border-radius: 0.2rem;
  background-color: hsla(0, 0%, 95%, 0.5);
}

#progress-bar {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(0, 0%, 95%);
  transform-origin: left;
}

@media (max-width: 45em) {
  #left-arrow {
    grid-column: 1;
    grid-row: 1;
  }

  #right-arrow {
    grid-column: 5;
    grid-row: 1;
  }

  #progress-bar-container {
    position: relative;
    grid-column: 2 / 5;
    align-self: center;
    width: 90%;
    height: 0.2rem;
    justify-self: center;
    border-radius: 0.2rem;
    background-color: hsla(0, 0%, 95%, 0.5);
  }
}

/* //슬라이드 */

/* 네비 */
.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--white-color);
}

.nav {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 2vw 0 2vw;
}

.nav-actions {
  display: flex;
  align-items: center;
}

.nav-item {}

.nav-link {
  margin-right: 2vw;
  color: #fff;
  font-weight: bold;
}

.nav-logo {
  color: #fff;
  font-weight: bold;
}

.nav-toggle {
  display: inline;
  cursor: pointer;
  margin-right: 1rem;
}

.nav-toggle img {
  width: 1.8rem;
}

.nav-btn {
  background-color: var(--second-color);
  color: #E681DE;
  padding: 0.375rem 1rem;
  border-radius: 2rem;
  font-weight: bold;
}

.nav-btn:hover {
  color: #fff;
}

/* //네비 */


/* 타이핑 */
.typing {
  position: relative;
  bottom: 10vw;
  left: 15vw;
  color: #fff;
  font-size: 0.8vw;
  font-family: 'Poppins';
  font-weight: bold;
  display: inline-block;
  /* 인라인 블록으로 설정하여 라인 변화 방지 */
  height: 100px;
  /* 높이를 고정 */
  line-height: 100px;
  /* 라인 높이를 글자 크기와 동일하게 설정 */
  overflow: hidden;
  /* 텍스트가 넘치지 않도록 설정 */
}

/* 커서 깜빡임 */
.typing::after {
  content: "|";
  animation: blink ease 1s infinite;
}

@keyframes blink {

  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

/* //타이핑 */

/* cslide */
.cslide {
  display: flex;
  align-items: center;
  padding-bottom: 300px;
  overflow: hidden;
  overflow-x: hidden;

}

.cslide a {
  color: white;
  font-size: 21px;
  margin-top: 1vw;
  display: inline-block;
  padding: 10px 15px;
  border: 1px solid white;
  text-decoration: none;
  position: relative;
  left: 0vw;
  top: 2vw;
}

.cslide a:hover {
  background-color: #E681DE;
}

.cslide h1 {
  color: white;
  font-size: 3.5vw;
  margin-bottom: 2vw;
}

.left,
.right {
  width: 50%;
}

.left {
  position: relative;
  bottom: 5vw;
  padding-left: 1vw;
}

.left p {
  color: #fff;
  font-size: 0.8vw;
}

.right {
  position: relative;
  height: 100vh;
}

.right img {
  position: absolute;
  object-fit: contain;
  height: 20%;
  transform: scale(0);
}

.right img:first-child {
  height: 70%;
  top: 15%;
  right: 10%;
}

.right img:nth-child(2) {
  height: 60%;
  top: 30%;
  left: -20%;
}

.right img:nth-child(3) {
  height: 60%;
  bottom: 5%;
  right: 40%;
}

.text {
  height: 30vh;
  padding-left: 10%;
  display: flex;
  align-items: flex-end;
  margin-bottom: 80px;
  color: white;
}

.title {
  position: relative;
  right: 8vw;
  font-size: 1.5vw;
  color: #f5f5f5;
}

.title span {
  font-weight: bold;
  font-size: 1.2vw;
  color: white
}

.sub-title {
  font-size: 1.2vw;
  width: 80%;
}

/* project 클래스 수정 */
.project {
  height: 600px;
  width: 100%;
  display: flex;
  margin-left: 100%;
  /* 애니메이션 시작 위치 */
  position: relative;
  flex-wrap: nowrap;
}

.project-wrapper::after {
  content: "";
  height: 5px;
  width: 100%;
  background-color: white;
  position: absolute;
  left: 0;
}

.project::after {
  content: "";
  height: 5px;
  width: 100%;
  background-color: black;
  position: absolute;
  left: 0;
  bottom: -5px;
  z-index: 9;
}

.project img {
  object-fit: contain;
  height: 90%;
  display: inline-block;
}

.project img:nth-child(odd) {
  margin-top: 30px;
}

/* //cslide */

/* about */
.about {
  position: relative;

}

.about_container {
  gap: 3rem;
  text-align: center;
  display: flex;
  justify-content: start;
  align-items: center;
}

.about_data {
  color: #fff;
  margin-left: 5vw;
  text-align: left;
}

.about_title div {}

.about_title img {
  width: 30px;
}

.about_description {}


/* footer */
.footer {
  position: relative;
  padding-block: 3rem 2rem;
  overflow: hidden;
}

.footer_container {
  gap: 3rem;
}

.footer_logo {
  display: inline-flex;
  color: var(--title-color);
  align-items: center;
  font-family: var(--title-font);
  font-size: var(--h3-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 1rem;
  gap: 0.5rem;
  transition: 0.3s;
}

.footer_logo:hover {
  color: var(--first-color);
}

.footer_logo img {
  width: 25px;
}

.footer_description {
  font-size: var(--small-font-size);
}

.footer_content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
}

.footer_title {
  font-size: var(--h3-font-size);
}

.footer_links {
  display: grid;
  /* flex는 딱 수직 grid는 수평,수직에 관한거긴한데 화면에 당장엔 아무 영향을 주지 않음 */
  gap: 0.5rem;
}

.footer_links li {}

.footer_link {
  color: var(--text-color);
  transition: 0.3s;
}

.footer_link:hover {
  color: var(--first-color);
}

.footer_social {
  display: flex;
  gap: 1.25rem;
}

.footer_social-link {
  color: var(--first-color);
  font-size: 1.25rem;
  transition: 0.3s;
}

.footer_social-link:hover {
  color: var(--first-color-alt);
  transform: translateY(-2px);
}

.footer_onion,
.footer_spinach {
  width: 30px;
  position: absolute;
}

.footer_onion {
  top: 7.5rem;
  right: 5rem;
  transform: rotate(-45deg);
}

.footer_spinach {
  bottom: 8rem;
  left: 3rem;
  transform: rotate(-45deg);
}

.footer_leaf {
  width: 100px;
  opacity: 0.2;
  position: absolute;
  bottom: 6rem;
  right: -2rem;
  transform: rotate(-15deg);
}

.footer_info {
  display: flex;
  flex-direction: column;
  margin-top: 6.5rem;
  gap: 1.5rem;
}

.footer_card {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.footer_card img {
  width: 35px;
}

.footer_copy {
  text-align: center;
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  margin-top: 10px;
}

.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -2rem;
  background-color: var(--container-color);
  box-shadow: 0 4px 12px rgba(100, 47, 22, 0.1);
  font-size: 1.1rem;
  padding: 0.35rem;
  color: var(--first-color);
  z-index: var(--z-tolltip);
  transition: 0.3s;
}

.scrollup.show-scroll {
  bottom: 2rem;
}

.scrollup:hover {
  transform: translateY(-0.25rem);
}

/* 반응형 */





/* 반응형 */

@media (max-width:1500px) {

  /* header */

  header.on .logo_bulldog {
    width: 3.6vw;
    margin-top: 0.4%;
  }

  header.on .logo_cover {
    width: 13.2vw;
  }


  /* #best_optical */

  .container {
    width: 92vw;
  }

  #best_optical .rank ul li a {
    font-size: 1vw;
  }

  #best_optical .rank ul li a span:nth-child(3) {
    font-size: 0.9vw;
  }

  .item_info h3 {
    font-size: 1vw;
  }

  #best_optical .item .cell .item_info ul li {
    font-size: 0.9vw;
  }

  .item_info h3 {
    font-size: 1vw;
  }

  #best_optical .item .cell .box a:hover .item_info {
    height: 26%;
  }


  #best_optical .item .cell .item_info ul li:nth-child(1)::before {
    top: 0.7vw;
  }

  #best_optical .item .cell .box a:hover ul li:nth-child(1)::before {
    width: 46%;
  }


  /* #issue */

  #issue .text_area {
    font-size: 1vw;
  }

  /* footer  */
  .foot_wrap {
    font-size: 0.9vw;
  }

}


@media (max-width:1024px) {

  /* header  */

  header.on .logo_bulldog {
    width: 5vw;
    margin-right: 1%;
  }

  header.on .logo_cover {
    width: 17vw;
  }


  .t1 {
    top: 3vw;
  }

  /* best_optical */

  .container {
    width: 93vw;
  }


  .best_tit {
    height: 7vw;
  }

  #best_optical .rank ul li a {
    font-size: 1.3vw;
  }

  #best_optical .rank ul li a span:nth-child(3) {
    font-size: 0.9vw;
  }

  #best_optical .rank ul li .rank_item a::after {
    font-size: 2vw;
  }

  #best_optical .item .cell_big {
    width: 50%;
    height: 40vw;
  }

  /* #issue  */

  #issue .text_area {
    font-size: 1vw;
  }

  #issue .controls a {
    font-size: 3.3vw;
  }

  #issue .pano_wrap .list li figure {
    width: 35vw;
  }

  #issue .pano_wrap .list li figure img {
    width: 100%;
    height: 100%;
  }


  /* footer */

  .foot_wrap {
    font-size: 1.2vw;
    padding: 4vw 2vw 5vw 2vw;
  }

  footer .foot_left ul {
    margin-right: 7%;
  }

  footer .foot_left ul:nth-child(4) {
    margin-right: 0;
    width: 23vw;
  }

  footer .foot_left ul li {
    line-height: 1.8vw;
  }

  footer .foot_left ul li:nth-child(1) {
    padding-bottom: 2vw;
    font-size: 1.3vw;
  }




}




@media (max-width:960px) {

  /* #best_optical */

  #best_optical .item .cell .box a:hover .item_info {
    height: 33%;
  }

  #best_optical .item .cell .item_info ul li:nth-child(1)::before {
    top: 0.8vw;
  }


  /* #issue */

  #issue .text_area {
    font-size: 1vw;
  }

  #issue .controls a {
    font-size: 2.5vw;
  }

  #issue .pano_wrap .list li figure img {
    width: 24vw;
  }

  footer .foot_left ul {
    margin-right: 5%;
  }


  footer .foot_left ul li {
    line-height: 1.6vw;
  }

}


@media (max-width:768px) {



  /* #best_optical  */

  #best_optical .rank {
    width: 50%;
  }

  #best_optical .rank ul li>a {
    font-size: 2vw;
    height: 8vw;
  }

  #best_optical .rank ul li a span:nth-child(3) {
    font-size: 1.5vw;
  }

  #best_optical .item .cell_big {
    display: none;
  }

  #best_optical .item .cell:nth-child(2) {
    display: none;
  }

  #best_optical .item .cell {
    width: calc(100% /2);
  }

  #best_optical .item .cell .item_info h3 {
    padding: 1vw 0vw 0vw 1.3vw;
    font-size: 2.2vw;
  }

  #best_optical .item .cell .item_info ul {
    padding-left: 1.5vw;
    padding-top: 1vw;
  }


  #best_optical .item .cell .item_info ul li {
    font-size: 1.8vw;
  }

  #best_optical .item .cell .item_info ul li:nth-child(1)::before {
    top: 1.2vw;
  }

  #best_optical .item .cell .box a:hover ul li:nth-child(1)::before {
    width: 38%;
  }

  /* #issue */

  #issue .pano_wrap .list li figure {
    width: 40vw;
  }

  #issue .pano_wrap .list li figure img {
    width: 100%;
  }

  #issue .text_area {
    font-size: 1vw;
  }

  #issue .controls {
    top: 6vw;
  }

  #issue .controls a {
    font-size: 4vw;
  }

  /* footer */

  .foot_wrap {
    display: block;
    font-size: 1.8vw;
  }

  footer .foot_left {
    width: 100%;
    justify-content: space-around;
  }

  footer .foot_left ul:nth-child(4) {
    margin-right: 0;
    width: auto;
  }

  footer .foot_left ul li {
    line-height: 3.3vw;
  }

  footer .foot_left ul li:nth-child(1) {
    padding-bottom: 2.3vw;
    font-size: 2.3vw;
  }


  footer .foot_right {
    width: 100%;
    text-align: center;
    margin: 7vw 0vw;
  }

}

@media (max-width:600px) {

  /* header */

  header {
    display: none;
  }

  .left-side-bar-box {
    display: block;
  }

  /* #best_optical */

  #best_optical {
    padding-bottom: 14vw;
  }

  .best_tit {
    height: 14vw;
    display: block;
    margin-bottom: 20vw;
  }

  .best_tit h2 {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0vw;
    font-size: 6vw;
  }

  #best_optical .optical_best {
    display: block;
  }

  #best_optical .rank {
    width: 100%;
    margin-bottom: 8vw;
  }

  #best_optical .rank h3 {
    display: none;
  }

  #best_optical h3.m_rank_h3 {
    display: block;
    font-size: 5.6vw;
    line-height: 5.6vw;
    margin-bottom: 5vw;
  }


  #best_optical .rank ul li>a {
    font-size: 4vw;
    height: 10vw;
  }

  #best_optical .rank ul li .rank_item a::after {
    font-size: 4vw;
  }

  #best_optical .rank ul li a span:nth-child(3) {
    font-size: 2.9vw;
  }

  #best_optical .item {
    display: none;
  }

  /* #issue  */
  #issue {
    padding: 27vw 0vw 17vw 0vw;
  }

  #issue .text_area {
    font-size: 1vw;
    top: 11vw;
  }

  #issue .pano_wrap .list li {
    width: auto;
  }

  #issue .pano_wrap .list li figure {
    width: 83vw;
  }

  #issue .pano_wrap .list li figure img {
    width: 100%;
  }

  #issue .pano_cont {
    margin-top: 4vw;
  }

  #issue .controls {
    right: 6vw;
    top: 13vw;
  }


  #issue .controls a {
    font-size: 6.5vw;
  }

  /* foot  */

  .foot_wrap {
    display: block;
    background: url(../img/footer/foot_bg.jpg) no-repeat center 0vw;
    background-size: cover;
    padding-bottom: 33vw;
    mix-blend-mode: luminosity;
  }

  footer .foot_left {
    display: block;
    width: 100%;
    padding: 0vw 2vw;
    box-sizing: border-box;
  }

  footer .foot_left ul {
    margin-right: 0;
    margin-bottom: 3vw;
  }

  footer .foot_left ul li strong {
    font-size: 3.6vw;
    line-height: 6vw;
    color: #222;
    border-bottom: 1px solid #f19601;
    padding-bottom: 1.2vw;
  }

  footer .foot_left ul li {
    line-height: 5.3vw;
    font-size: 2.8vw;
  }


  footer .foot_right {
    width: 93%;
    font-size: 2.8vw;
    margin: 8vw 0vw;
    text-align: left;
    padding-left: 2vw;
    box-sizing: border-box;
  }

  .m_foot_logo {
    display: block;
  }

  footer .foot_left ul li a:hover {
    color: #E681DE;
  }


}

